                body {
                    display: grid;
                    grid-template-areas: "header header header header" "sidebar sidebar sidebar sidebar" "content content content content" "aside aside aside aside" "main main main main" "footer footer footer footer";
                    grid-template-columns: 20% 20% 30% 30%;
                    margin: 0px;
                }
                
                header {
                    grid-area: header;
                    text-align: center;
                }
                
                sidebar {
                    grid-area: sidebar;
                    display: flex;
                    background-color: #dce3de;
                    box-shadow: inset 0px 2.5px 1px 0px silver;
                    font-family: 'Roboto', sans-serif;
                }
                
                content {
                    grid-area: content;
                    text-align: center;
                    background-color: #f0f5f1;
                    max-height: 200px;
                    min-height: 150px;
                    height: auto;
                    font-family: 'Roboto', sans-serif;
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive mobile*/
                        max-height: 350px;
                        min-height: 300px;
                    }
                }
                
                content input {
                    background-color: #9356DC;
                    color: white;
                    height: 50px;
                    width: 200px;
                    border-radius: 30px;
                    margin-bottom: 5%;
                    border: none;
                    &:hover {
                        box-shadow: inset 4px 15px 30px 0px #FF79DA, inset 80px 30px 25px 30px #9356DC;
                    }
                }
                
                aside {
                    grid-area: aside;
                    font-family: 'Roboto', sans-serif;
                    & h3 {
                        text-align: center;
                    }
                }
                
                fieldset {
                    background-color: #f0f5f1;
                    border: none;
                    box-shadow: 2px 2px 5px 2px silver;
                    border-radius: 20px;
                    width: auto;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 15px;
                    &:hover {
                        background-color: #f3ebf7;
                    }
                }
                
                fieldset legend {
                    background-color: #9356DC;
                    color: white;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    padding: 0px;
                    & p {
                        margin: auto;
                        margin-top: 8px;
                    }
                }
                
                main {
                    grid-area: main;
                    font-family: 'Roboto', sans-serif;
                    height: 1400px;
                    background-color: #f0f5f1;
                    margin-top: 7%;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        /*Responsive tablette*/
                        height: 2200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding-bottom: 10%;
                        padding-top: 10%;
                    }
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive mobile*/
                        height: 1600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding-bottom: 10%;
                        padding-top: 10%;
                    }
                    & h1 {
                        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                            /*Responsive tablette*/
                            margin: 0px 0px 0px 10px;
                        }
                        @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                            /*Responsive mobile*/
                            margin: 0px 0px 0px 10px;
                        }
                    }
                }
                
                footer {
                    grid-area: footer;
                    font-family: 'Roboto', sans-serif;
                    background-color: #222422;
                    color: white;
                    text-align: center;
                    & h1 {
                        font-family: 'Shrikhand', cursive;
                    }
                    & a {
                        text-decoration: none;
                        color: white;
                    }
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive smartphone*/
                        text-align: initial;
                    }
                }
                
                #logo {
                    max-width: -moz-available;
                }
                
                #menilmontant,
                #folie_mericourt,
                #cite_rouge {
                    height: auto;
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                }
                
                #charonne {
                    height: 59.5%;
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        /*Responsive tablette*/
                        height: 74.082%;
                    }
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive smartphone*/
                        height: 60.10%;
                    }
                }
                
                .inside_sidebar {
                    display: flex;
                    align-items: center;
                    margin: auto;
                }
                
                .main_block_un,
                .main_block_deux {
                    max-width: 100%;
                    max-height: 600px;
                    display: flex;
                    justify-content: space-around;
                    height: inherit;
                    & a {
                        text-decoration: none;
                        color: black;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        /*Responsive tablette*/
                        flex-direction: column;
                        max-height: inherit;
                        align-items: center;
                    }
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive mobile*/
                        flex-direction: column;
                        max-height: inherit;
                    }
                }
                
                .main_conteneur {
                    display: block;
                    text-align: center;
                    max-width: 500px;
                    max-height: 700px;
                    margin: 20px;
                    border-radius: 10%;
                    background-color: white;
                }
                
                .main_conteneur_menilmontant {
                    display: block;
                    text-align: center;
                    max-width: 500px;
                    max-height: 700px;
                    margin: 20px;
                    border-radius: 10%;
                    background-color: white;
                    position: relative;
                    .top-right {
                        position: absolute;
                        max-width: 200px;
                        min-width: 100px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        top: 8px;
                        right: 16px;
                        color: green;
                        background-color: #99E2D0;
                    }
                }
                
                .main_conteneur_charonne {
                    background-color: white;
                    max-width: 500px;
                    max-height: 700px;
                    width: 100%;
                    margin: 20px;
                    display: block;
                    text-align: center;
                    border-radius: 10%;
                    position: relative;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        /*Responsive tablette*/
                        width: auto;
                        max-height: 432px;
                    }
                    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        /*Responsive mobile*/
                        width: auto;
                        max-height: 312px;
                    }
                    .top-right {
                        position: absolute;
                        max-width: 200px;
                        min-width: 100px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        top: 8px;
                        right: 16px;
                        color: green;
                        background-color: #99E2D0;
                    }
                }