body {
  margin: 0px;
}

header {
  text-align: center;
}

section {
  display: flex;
  background-color: #dce3de;
  box-shadow: inset 0px 2.5px 1px 0px silver;
  font-family: "Roboto", sans-serif;
}

article {
  text-align: center;
  background-color: #f0f5f1;
  font-family: "Roboto", sans-serif;
  max-height: 350px;
  min-height: 300px;
  height: auto;
}
article h2 {
  margin-top: 3.5%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  article h2 {
    /*Responsive tablette*/
    margin-top: 10%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  article h2 {
    /*Responsive mobile*/
    margin-top: 15%;
  }
}

article input {
  background-color: #9356DC;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  margin-bottom: 5%;
  border: none;
}
article input:hover {
  box-shadow: inset 4px 15px 30px 0px #FF79DA, inset 80px 30px 25px 30px #9356DC;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  article input {
    /*Responsive tablette*/
  }
  article input:active {
    box-shadow: inset 4px 15px 30px 0px #FF79DA, inset 80px 30px 25px 30px #9356DC;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  article input {
    /*Responsive mobile*/
  }
  article input:active {
    box-shadow: inset 4px 15px 30px 0px #FF79DA, inset 80px 30px 25px 30px #9356DC;
  }
}

aside {
  font-family: "Roboto", sans-serif;
}
aside h3 {
  text-align: center;
}
aside i {
  margin-right: 20px;
}

fieldset {
  background-color: #f0f5f1;
  border: none;
  box-shadow: 2px 2px 5px 2px silver;
  border-radius: 20px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  padding: 0;
  position: relative;
}
fieldset:hover {
  background-color: #f3ebf7;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  fieldset {
    /*Responsive tablette*/
    width: 90%;
    margin: 30px auto;
  }
  fieldset:active {
    background-color: #f3ebf7;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  fieldset {
    /*Responsive mobile*/
    width: 90%;
    margin: 15px auto;
  }
  fieldset:active {
    background-color: #f3ebf7;
  }
}

fieldset legend {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 0px;
  position: absolute;
  left: 30px;
  top: 20px;
}
fieldset legend h6 {
  margin: auto;
  margin-top: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  fieldset legend {
    /*Responsive mobile*/
    left: -15px;
    top: 20px;
    width: 30px;
  }
}

main {
  grid-area: main;
  font-family: "Roboto", sans-serif;
  background-color: #f0f5f1;
  margin-top: 7%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    /*Responsive tablette*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 10%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  main {
    /*Responsive mobile*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main h1 {
    /*Responsive tablette*/
    margin: 0px 0px 0px 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  main h1 {
    /*Responsive mobile*/
    margin: 0px 0px 0px 10px;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: #222422;
  color: white;
  text-align: center;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
footer a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    /*Responsive tablette*/
    text-align: initial;
    padding-left: 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    /*Responsive smartphone*/
    text-align: initial;
    padding-left: 55px;
  }
}

#logo {
  min-width: 50%;
  max-width: 60%;
  width: auto;
}

#fonctionnement {
  font-weight: bolder;
}

.menu_img {
  width: 100%;
  height: 200px;
}
.menu_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menus {
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.fas.fa-hamburger.fa-2x {
  color: #9356DC;
}

.fas.fa-heart.fa-2x {
  color: #edebe6;
  border-color: black;
}
.fas.fa-heart.fa-2x:active {
  animation: hearth 2s forwards 4ms;
}

.inside_section {
  display: flex;
  align-items: center;
  margin: auto;
}

.inside_fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.main_block_un,
.main_block_deux {
  max-width: 100%;
  max-height: 600px;
  display: flex;
  justify-content: space-around;
  height: inherit;
}
.main_block_un a,
.main_block_deux a {
  text-decoration: none;
  color: black;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_block_un,
.main_block_deux {
    /*Responsive tablette*/
    flex-direction: column;
    max-height: inherit;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main_block_un,
.main_block_deux {
    /*Responsive mobile*/
    flex-direction: column;
    max-height: inherit;
  }
}

.main_conteneur {
  display: block;
  text-align: center;
  width: 25%;
  margin: 20px;
  border-radius: 10%;
  background-color: white;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_conteneur {
    /*Responsive tablette*/
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main_conteneur {
    /*Responsive mobile*/
    width: auto;
  }
}

.top-right {
  position: absolute;
  max-width: 200px;
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 8px;
  right: 16px;
  color: green;
  background-color: #99E2D0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_card_dawn {
    /*Responsive tablette*/
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main_card_dawn {
    /*Responsive mobile*/
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.load-container {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .load-container {
    /*Responsive tablette*/
    align-items: normal;
    min-width: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .load-container {
    /*Responsive mobile*/
    align-items: normal;
    min-width: auto;
  }
}

@keyframes hearth {
  0% {
    transform: scale(0);
    color: #edebe6;
  }
  50% {
    color: #edebe6;
  }
  100% {
    transform: scale(1);
    color: #9356DC;
  }
}
.inside_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .inside_footer {
    /*Responsive tablette*/
    justify-content: initial;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .inside_footer {
    /*Responsive mobile*/
    justify-content: initial;
  }
}

.fas.fa-utensils {
  margin-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fas.fa-utensils {
    /*Responsive tablette*/
    margin-right: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fas.fa-utensils {
    /*Responsive mobile*/
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #footer_partenaire {
    /*Responsive tablette*/
    margin: initial;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #footer_partenaire {
    /*Responsive mobile*/
    margin: initial;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #mentions_legales {
    /*Responsive tablette*/
    margin-top: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #mentions_legales {
    /*Responsive mobile*/
    margin-top: auto;
  }
}

.fas.fa-hands-helping {
  margin-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fas.fa-hands-helping {
    /*Responsive tablette*/
    margin-right: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .fas.fa-hands-helping {
    /*Responsive mobile*/
    margin-right: 10px;
  }
}

.loader {
  border: 16px solid #99E2D0;
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 200px;
  min-height: 200px;
  animation: spin 2s linear;
  opacity: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .loader {
    /*Responsive tablette*/
    width: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .loader {
    /*Responsive mobile*/
    width: 250px;
  }
}

.contenue {
  animation: contenue 0ms 1300ms both;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: -20%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes contenue {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
